
#open-iframe {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 90px;
  height: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  mix-blend-mode: darken;

}

#open-iframe img {
  width: 80%;
  height: 80%;
}

#iframe-container {
  position: fixed;
  bottom: 110px;
  right: 0;
  display: none;
  z-index: 9999;
}

#chatbot-iframe {
  border: none;
  overflow-x: none;
}
